.search-section{
    width: 100vw;
    height: 95%;
    position: fixed;
    top: 10%;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;    
}
.close{
    position: absolute;
    right: 5%;
    color: white;
    top: 4%;
    background: none;
    outline: none;
    border:none;
    width: '40px';
    height:'40px';
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;      
    transition: all .7s ease-in;
}
.close svg path{
  fill: #ffffff;
}
.close:hover svg path{
  fill: rgb(59, 98, 198)
}
.search-input{
    width: 80%;
    max-width: 600px;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: #1a1a1a;
    color: #fff;
    outline:none;
    margin: 30px 0;
}
.search-input::placeholder{
  color: rgb(59, 98, 198);
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(500px,1fr));
  gap: 30px 15px;
}