

/* :root {
  --max-width: 100vw;
} */
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

  display: flex;
  justify-content: center;

  background: black;
  color: white;

  
}

p{
  color: rgb(170, 166, 166);
}
.container {
  position: relative;
  max-width: var(--max-width);
  width: 100vw;
  background-color: #0e0e0e;

}
h1{
  text-align: center;
  font-size: 3rem;
  color:rgb(59, 98, 198)
}
.search-input {
  width: 50%;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 12px;
  border-radius: 25px;
  outline: 4px solid rgb(59, 98, 198);
  background-color: rgb(232, 226, 226);
  border: none;
}
.search-input::placeholder{
  color: rgb(59, 98, 198);
  font-size: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
  gap: 30px 15px;
}
.card {
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: inherit;
  border: 2px solid rgb(59, 98, 198);
  border-radius: 8px;
  overflow: hidden;

  transition: all .5s ease-in;
}
.card:hover{
  transform: scale(1.02);
}
.card img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-body {
  padding: 8px;
}
.error { color: red; }

.pag_btn{
  padding:10px 20px;
  background-color: rgb(59, 98, 198);
  color: "white";
  border-radius:25px
}
.pag_btn:disabled{
  background-color: gray;
  color: rgb(223, 223, 223);
  cursor:not-allowed;
}
.data_container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
}
.info{
  display: grid;
  grid-template-columns: 'auto auto';
  grid-template-rows: '70px';
 }
 .info p{
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  border: 1px solid  rgb(255, 255, 255);
  height: 100%;
  gap:10px;
  padding-left: 10px;
 }

.scroll-container::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

.scroll-container::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.scroll-container::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgb(59, 98, 198);
}

 /* ::-webkit-scrollbar-thumb:horizontal{
        background: red;
        border-radius: 1px;
 } */


@media screen and (max-width: 1025px) {
  .search-input{
    width: 90%;
  }  
    .center .slick-arrow.slick-prev, .center_2 .slick-arrow.slick-prev, .popular .slick-arrow.slick-prev{
   left: -25px !important;
   font-size: 30px !important;

  } 

}
@media screen and (min-width: 1024px) {
  .center .slick-arrow::before, .small .slick-arrow::before, .popular .slick-arrow::before{
   font-size: 40px !important;

}
  
}
  .center .slick-arrow::before, .small .slick-arrow::before, .popular .slick-arrow::before{
    cursor: pointer;
  color: rgb(59, 98, 198);
}


/* swiper slider */

/* 
.center .slick-arrow.slick-next{
  right: 0;
  z-index: 90;
}

} */
  .center .slick-arrow.slick-prev, .center_2 .slick-arrow.slick-prev, .popular .slick-arrow.slick-prev{
   left: -45px;
   z-index: 10;
  } 
  .popular .slick-arrow.slick-next{
    z-index: 10;
  }
  .center, .popular, .center_2,  .center .slick-list, .center_2 .slick-list, .popular .slick-list{
    height:100%  !important
  }
 
   .center .slick-list .slick-track .slick-slide, .center_2 .slick-list .slick-track .slick-slide{ 
    border-radius: 25px
   }
  .center .slick-list .slick-track .slick-slide div, .center_2 .slick-list .slick-track .slick-slide div{
    border-radius: 25px !important;
    
  }
  .popular .slick-list .slick-track .slick-slide div div{
    height: 400px;
    border: 1px solid rgb(59, 98, 198);
    border-radius:25px;
    overflow: hidden;
  }
 .center_2 .slick-list .slick-track .slick-slide div img{
    height: 400px ;
  }
    .center .slick-list .slick-track .slick-slide div img,  .center_2 .slick-list .slick-track .slick-slide div img{
    border-radius: 25px !important;
    width: 97% !important;
  }
  .popular .slick-list .slick-track .slick-slide div div {
    border-radius: 25px !important;
    width: 98% !important;
  }
  .center .slick-dots, .center_2 .slick-dots , .popular .slick-dots{
    bottom: -40px !important;
  }
  .center .slick-dots li button::before, .center_2 .slick-dots li button::before, .popular .slick-dots li button::before{
    font-size: 12px !important;
    cursor: pointer;
  
  }
  .center .slick-dots li button:before, .center_2 .slick-dots li button:before, .popular .slick-dots li button::before{
    color: #d4d4d4 !important;
  }
 .center .slick-dots li.slick-active button:before, .center_2 .slick-dots li.slick-active button:before, .popular .slick-dots li.slick-active button::before{
  color: #ffffff !important
 }